snippet rcsv
	with open(${1:PATH}) as file_:
	    csvrd = csv.reader(file_)
	    for line in csvrd:
	        ${2:ToDo}
snippet wcsv
	with open(${1:PATH}, 'w') as file_:
	    csvwt = csv.writer(file_, lineterminator='\\n')
	    ${2:ToDo}
