[submodule "bundle/vim-flake8"]
    path = bundle/vim-flake8
    url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/minibufexpl.vim"]
    path = bundle/minibufexpl.vim
    url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/c.vim"]
    path = bundle/c.vim
    url = git://github.com/vim-scripts/c.vim.git
    ignore = dirty
[submodule "bundle/Vim-R-plugin"]
    path = bundle/Vim-R-plugin
    url = git://github.com/vim-scripts/Vim-R-plugin.git
    ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-autocomplpop"]
	path = bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
