/******************************************************************
 * Filename: ${1:`Filename()`}
 * Author:	 ${2:`g:snips_author`}
 * E-Mail:	 ${3:`g:snips_email`}
 * Date:	 ${4:`strftime("%Y-%m-%d")`}
 * `&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${5:`g:snips_author`}. All Rights Reserved.
 * Description:	 ${6}
 * Last Modified: 
 *****************************************************************/
